{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-async-promise-executor": "off"
  }
}
