@tailwind base;

:root {
  --color-lighter: rgba(255, 255, 255, .03);
  --color-lighter-4: rgba(255, 255, 255, .12);
  --color-lighter-5: rgba(255, 255, 255, .15);
  --color-darker: rgba(0, 0, 0, .03);
  --color-darker-5: rgba(0, 0, 0, .15);
  --color-darker-10: rgba(0, 0, 0, .30);
  --color-dark-1: #1B1C1F;
  --color-dark-2: #202124;
  --color-dark-3: #262729;
  --color-dark-4: #2B2C2F;
  --color-dark-5: #313234;
  --color-dark-6: #36373A;
  --color-light-9: #727373;
  /*--color-light-8: #838486;*/
  /*--color-light-7: #949596;*/
  /*--color-light-6: #A4A5A6;*/
  --color-light-5: #B5B6B6;
  --color-light-4: #C5C6C7;
  --color-light-3: #D6D7D7;
  --color-light-2: #E6E7E7;
  --color-light-1: #F7F8F8;
  --color-accent: #2196f3;
  --color-accent-dark: #073e69;
  --color-blue: #3f51b5;
  --color-blue-darker: #324191;
  --color-error: #f87171;
  --color-yellow-1: #f2c94c;
  --color-yellow-2: #636316;
  --color-yellow-3: #3e3e21;
  --color-green-1: #1a5d29;
  --color-green-2: #183e21;
}

.light-mode {
  --color-lighter: rgba(0, 0, 0, .03);
  --color-lighter-4: rgba(0, 0, 0, .12);
  --color-lighter-5: rgba(0, 0, 0, .15);
  --color-darker: rgba(255, 255, 255, .03);
  --color-darker-5: rgba(255, 255, 255, .15);
  --color-darker-10: rgba(255, 255, 255, .30);
  --color-dark-1: #ffffff;
  --color-dark-2: #ffffff;
  --color-dark-3: #f0f0f0;
  --color-dark-4: #eeeeee;
  --color-dark-5: #e5e5e5;
  --color-dark-6: #b2b2b2;
  --color-light-9: #9FA0A0;
  /*--color-light-8: #8E8F90;*/
  /*--color-light-7: #7E7F80;*/
  /*--color-light-6: #6D6E70;*/
  --color-light-5: #5D5E60;
  --color-light-4: #4C4D4F;
  --color-light-3: #3C3D3F;
  --color-light-2: #2B2C2F;
  --color-light-1: #1B1C1F;
  --color-accent: #2196f3;
  --color-accent-dark: #b7dbf7;
  --color-blue: #3f51b5;
  --color-blue-darker: #324191;
  --color-error: #f87171;
  --color-yellow-1: #f2c94c;
  --color-yellow-2: #636316;
  --color-yellow-3: #3e3e21;
  --color-green-1: #1a5d29;
  --color-green-2: #183e21;
}

html {
  @apply bg-dark-2 text-light-5;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea {
  background: none;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

button:focus-visible, button.focus-visible:focus {
  box-shadow: inset var(--color-accent) 0 0 2px 1px;
}

input::placeholder {
  color: var(--color-light-8);
}

button[disabled] {
  cursor: default;
}

[hidden] {
  display: none !important;
}

@tailwind components;

@layer components {
  .btn {
    @apply cursor-pointer rounded py-1 px-4 relative flex items-center justify-center duration-300 transition hover:text-light-4;
  }

  .btn-primary {
    @apply bg-darker-5;
  }
}

@tailwind utilities;

@layer utilities {
  .bg-primary-gradient {
    background: linear-gradient(136.61deg, var(--color-dark-3) 13.72%, var(--color-dark-4) 74.3%);
  }

  .bg-primary-gradient-lighter {
    background: linear-gradient(136.61deg, var(--color-dark-4) 13.72%, var(--color-dark-5) 74.3%);
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}
