{
  "env": {
    "node": true,
    "browser": true,
    "es2020": true,
    "jest/globals": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "react", "jest", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true
      }
    ],
    "react/prop-types": "off",
    "no-prototype-builtins": "off",
    "no-unused-vars": "off",
    "require-yield": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
